/*
 * Globals
 */
.logo {
    max-width: 250px;
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */
body {
    display: -ms-flexbox;
    display: flex;
    background-color: #000;
    color: #fff;
    text-shadow: 0 .1rem .5rem rgba(0, 0, 0, 1);
	box-shadow: inset 0 0 5rem rgba(0, 0, 0, 1);
	height:100%;
	width:100%;
	position:relative;
}
html {
	height:100%;
	width:100%;
	position:relative;
}
.cover-container {
    max-width: 60em;
}
.cover {
	padding: 0 1.5rem;
}
.cover .btn-lg {
	padding: .75rem 1.25rem;
	font-weight: 700;
}

  

/*
 * Header
 */
.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 48em) {
    .masthead-brand {
      	float: left;
    }
	.nav-masthead {
		float: right;
	}
}

/*
 * Carrusel
 */
#background-carousel{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.carousel,
.carousel-inner {
	width: 100%;
	z-index: 0;
	overflow: hidden;
}
.carousel-item img {
	background-color: rgba(0,0,0,0.8);
	background-size: cover;
	background: center center;
    filter: brightness(0.4);
	z-index: 0;
}

.animated {
 -webkit-animation-duration: 2s;
 animation-duration: 2s;
 -webkit-animation-fill-mode: both;
 animation-fill-mode: both;
}
@-webkit-keyframes flash {
 0%, 50%, 100% {
 opacity: 1;
 }
25%, 75% {
 opacity: 0;
 }
}
@keyframes flash {
 0%, 50%, 100% {
 opacity: 1;
 }
25%, 75% {
 opacity: 0;
 }
}
.flash {
 -webkit-animation-name: flash;
 animation-name: flash;
}
